@{
	ViewData["Title"] = "Index";
}

<h1>This is an Admin page of our site. </h1>
<hr />
<h3>Check the side bar to perform CRUD operations</h3>

<h3 class="mt-5">Total products: @ViewBag.ProductsCount | Total categories: @ViewBag.CategoriesCount</h3>

