@model Post;

@{
    ViewData["Title"] = "AddPost";
}

<h4>Post</h4>

<hr />

<form method="post" asp-controller="Home" asp-action="AddPost">

    <div class="form-group">
        <label style="cursor:pointer" asp-for="Title"></label>
        <input type="text" class="form-control my-2" asp-for="Title">
        <span style="color:red" asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label style="cursor:pointer" asp-for="Content"></label>
        <textarea rows="3" cols="4" type="text" class="form-control my-2" asp-for="Content"> </textarea>
        <span asp-validation-for="Content"></span>
    </div>

    <div class="form-group">
        <label style="cursor:pointer" asp-for="Description"></label>
        <textarea rows="3" cols="6" type="text" class="form-control my-2" asp-for="Description"> </textarea>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" style="cursor:pointer">Image url</label>
        <input type="text" class="form-control my-2" asp-for="ImageUrl">
    </div>

    <button type="submit" class="btn btn-primary">Add post</button>
</form>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}